* {
  background-color:grey;
}

img {
  text-align: center;
}

h1 {
  font: "Arial";
  font-size: 28px;
  color: white;
}

p {
  font-size: 18px;
color: white;
}

h2 {
  font: "Arial Black";
  font-size: 24px;
  color: white;
}

h3 {
  font: "Arial";
  font-size: 18px;
  color: white;
}
