body {
  background-color: black
    text: white
}

h1 {
  font: "Arial";
  font-size: 28px;
  color: black;
}

p {
  font-size: 18px;
color: black;
}

h2 {
  font: "Arial Black";
  font-size: 24px;
}

h3 {
  font: "Arial";
  font-size: 18px;
}
